html, body {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

#main {
  width: 100vw;
}

#page1 {
  background-image: url("../Assets/Home1.png");
  width: 100vw;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  z-index: 1;

}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

nav #nav-menu {
  display: flex;
  justify-content: space-between;
  column-gap: 2vw;
}

nav #nav-menu i {
  display: block;
}

nav #logo img {
  border-radius: 40%;
}

#page1 #page-section {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4vh 10vw;
}

#page1 #page1-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#page1-content #port-links {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 5vw;
}

#button {
  padding: 1vh 20% 1vh 20%;
}

#blink {
  width: 80px;
  height: 80px;
  background-color: yellow;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
}

#blink *:not(#play-button) {
  animation: blink 2s ease-in infinite;
  
}



#play-button {
  width: 60px;
  height: 60px;
  background-color: #252F2D;
  border-radius: 50%;
  transition: outline 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: blink 2s ease-in infinite; */
  
}

#trg {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid yellow;
  position: relative;
  z-index: 1;
}

@media (max-width: 425px) {
  #page1 {
    background-color: #252F2D;
    background-image: none;
  }
  nav #nav-menu h4 {
    display: none;
  }
  #page1-content #port-links {
    display: none;
  }
  nav {
    justify-content: space-around;
  }
}

@media (min-width: 425px) {
  nav #nav-menu i {
    display: none;
  }
  nav #nav-menu h4:nth-child(5) {
    display: none;
  }
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}



#page2{
  width:100vw;
  height:60vh;
  background-color: rgb(53, 123, 184);
  position:relative;
  z-index:1;
  transform: translateY(100vh);
  transition: transform 1s ease-in-out;
}

#page2.rollover{
  transform: translateY(0);
}

#page3{
  width:100vw;
  height: 60vh;
  background-color: rgb(211, 121, 10);
  position: relative;
  z-index: 1;
}